@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');


.App{
    display: flex;
   min-height: 100vh;
    background-image: url("background.png");
    background-size: cover;
    background-position: center ;
  

}
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: O□rgba(136, 136, 136, 0.281);
}

/* Handle on hover. */
::-webkit-scrollbar-thumb:hover {
    background: 0#555;
}